.classpath
.project
pom.xml
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
ExampleProject/.gradle/6.3/gc.properties
ExampleProject/.gradle/6.3/executionHistory/executionHistory.lock
ExampleProject/.gradle/6.3/fileChanges/last-build.bin
ExampleProject/.gradle/6.3/fileHashes/fileHashes.lock
ExampleProject/.gradle/buildOutputCleanup/buildOutputCleanup.lock
ExampleProject/.gradle/buildOutputCleanup/cache.properties
ExampleProject/.gradle/checksums/checksums.lock
ExampleProject/.gradle/vcs-1/gc.properties
ExampleProject/.settings/org.eclipse.buildship.core.prefs
ExampleProject/src/main/webapp/WEB-INF/views/bom.jsp
ExampleProject/src/main/webapp/WEB-INF/views/bom_insert.jsp
target/ERP-PROJECT-0.0.1-SNAPSHOT.jar
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/ERP-PROJECT/ERP-PROJECT/pom.properties
target/classes/META-INF/maven/ERP-PROJECT/ERP-PROJECT/pom.xml
target/maven-archiver/pom.properties
