@charset "UTF-8";

	.p_li {
		display : inline-block;
		background : royalblue;
		width : 25px;
		height : 25px;
		margin-top : 10px;
		text-align: center;
	}
	.third{
	position : absolute; 
	left:400px;
 	}
 	
 	 /*사이드바용*/
    .sidebar{
       position:absolute; 
       padding-right:70;
    }
    
    
    /*전체 페이지 감싸기용*/
    .bodyall{
       padding-top:20px; 
       margin-left:250px;
    }
 	
 /* 테이블 컬럼 색상 */
 th{background-color: #BBBBBB;}
 /* 테이블 컬럼 링크 밑줄 제거 */
 th>a{
 	text-decoration: none;
 	color: black;
 }